header {
  height: 50px;
  background-color: #f0f0f0;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.heading {
  width: 50%;
  margin-left: 30px;
}

.title {
  font-size: 40px;
  color: #008000;
}

.navbar {
  width: 30%;
  padding: 20px;
}

.nav-lists {
  display: flex;
  justify-content: space-around;
  color: #008000;
}

li {
  list-style: none;
}

.contents {
  background-color: white;
}

.first-view{
  height: 60vh;
}

.top-image {
  height: 100%;
  width: 100%;
}

.ride-contents{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.heading-name {
  font-size: 30px;
  color: #008000;
}

.ride-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ride-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #fff;
}

.plan {
  text-decoration: none;
}

.ride-img {
  width: 33vh;
  height: 33vh;
}

.ride-name {
  font-size: 2vh;
  color: #008000;
  text-align: center;
}

/* 新着情報 */
/* .middle-content{
  height: 450px;
  margin: 0 160px;
}

.heading-name {
  text-align: center;
  border-bottom: 1px solid red;
  width: 200px;
  margin: 40px auto;
}

.messages {
  width: 50vw;
  margin: 0 auto;
}

.message {
  display: flex;
  font-size: 18px;
  margin: 0 0 16px 70px;
}

.message-date {
  padding-right: 40px;
} */
