header {
  height: 50px;
  background-color: #f0f0f0;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.heading {
  width: 50%;
  margin-left: 30px;
}

.title {
  font-size: 40px;
  color: #008000;
  text-decoration: none;
}

.navbar {
  width: 30%;
  padding: 20px;
}

.nav-lists {
  display: flex;
  justify-content: space-around;
  color: #008000;
}

.btn {
  text-decoration: none;
  color: #008000
}
