<%= render "shared/header" %>

<div class="contents">
  <div class="first-view">
  
  </div>

  <% if user_signed_in? %>
      <%= link_to "ログインユーザー: #{current_user.nickname}", user_path(current_user.id), class: :login_user %>
  <% end %>
  
  <div class="ride-contents">
    <h2 class="heading-name">ツーリングプラン一覧</h2>
    <div class="top-posts">
      <%= render partial: 'ride', collection: @rides %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>