<%= render "shared/header" %>

<div class="contents">
  <div class="first-view">
  
  </div>
  
  <div class="ride-contents">
    <h2 class="heading-name">ツーリングプラン一覧</h2>
    <%= render partial: 'ride', collection: @rides %>
  </div>
</div>

<%= render "shared/footer" %>
